
<!-- Main Footer -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            Designed and Developed by Admin Division <br />
            <!-- <span id="year"></span>&nbsp;&copy; Copyright <a href="https://www.nic.in/" style="color:#fff;" target="_blank" title="External Link"><strong>National Informatics Centre</strong></a>. -->
        </div>
        <div class="credits">
            All Rights Reserved
        </div>
    </div>
  </footer>
  <!-- #footer -->
  
  